

body{
  background: linen;
}
.container{
  margin-top:100px;
  color: red;
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 500px;
  text-align: center;
}
.cont{
  display: flex;
  flex-direction: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
h3{
  margin: 0;
  color:black;
  font-weight: bolder;
  border-bottom: 2px solid darkgreen;
}