
.center{
  width:100%;
  display:flex;
  align-items: center;
  justify-content: center;
}
.contact-container  {
  margin: 20px;
  border-radius: 20px;
  width: 100%;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: conic-gradient(green,orange );
  
}
.contact-container a {
  font-weight: bold;
  width: 70%;
  height:40px;
  display:flex;
  align-items:center;
  justify-content:space-evenly;
 
}
.contact-container a img{
  width: 30px;
  
}
#contact-wrapper{
  padding-top:100px;
  display: flex;
  border: none;
  flex-direction: column;
  width: 100%;
  height:600px; 
  align-items: center;
  justify-content: space-around;
}

@media(max-width:750px){
  .center{
    width:80%;
    height:80%;
  }
  .contact-container{
    width: 95%;
    height: 300px;
    justify-content: center;
  }
}
@media (min-width:750px ){
  #contact-wrapper{
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  justify-content: space-around;
  gap: 20px;
}
.contact-container  {
  margin: 20px;
  border-radius: 20px;
  width: 50%;
  height:300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: darkmagenta /*lightgoldenrodyellow*/;
  
}
.contact-container a {
  font-size: 18px;
  
}
}
