.hh{
  margin: 0;
  padding: 0;
}


body{
  background-color: white;
  width:100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.remove{
  display: none;
  color:red;
}

.demo,.logo{
    width:70px;
    height: 50px;
}
#open{
  width: 100%;
  height: 100%;
}
nav{
  
  
  width:80%;
}
#nav{
  position: sticky;
  top:0;
  width: 100%;
  display:flex ;
  height:55px;
  align-self: center;
  justify-content: space-between;
}


.dial{
 margin-top: 90px;
  width:50%;
  height: 70%;
  border:none;
}

.menu{
  position: absolute;
   top:0;
  left:0;
  margin-top:20px;
  display: flex;
  flex-direction: column;
}
#close{
  width:30px;
  position: absolute;
  right:10px;
  top: 10px;
}

.menus{
  width: 100%;
  height:16%;
  display: flex;
  align-items: center;
  border-bottom: 1px solid rebeccapurple;
  justify-content:space-evenly;
  font-size: 30px;
  }
.images{
  width:40px;
}

 a{
  text-decoration: none;
  color: #000;
} 
a:active{
  color:black;
}