
.div{
  padding-top: 70px;
  width:100%;
  display: flex;
  flex-direction: column;
  align-items:center;
}

ol,ul{
  width: 60%;
  height: 300px;
  border: none;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: ghostwhite;
  border-radius: 20px;
  box-shadow: 0px 0px 25px -9px cyan;
}
li{
  list-style: circle;
  color: white;
  font-weight: bolder;
  text-shadow:  2px 2px 2px black;
  width:80%;
  height:10%;
  border: none;
  color: cyan;
}

@media (max-width: 400px) {
  ol,ul{
    width: 80%;
  }
}